---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: unifi-controller
  labels:
    app: unifi-controller
  annotations:
    link.argocd.argoproj.io/external-link: http://unifi
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: unifi-controller
  template:
    metadata:
      labels:
        app: unifi-controller
    spec:
      terminationGracePeriodSeconds: 60
      containers:
        - name: unifi-controller
          image: jacobalberty/unifi:v7.2.92
          envFrom:
            - configMapRef:
                name: unifi-controller-cm
          ports:
            - containerPort: 8443
              name: web-http
              protocol: TCP
            - containerPort: 8080
              name: devices
              protocol: TCP
            - containerPort: 8843
              name: guest-https
              protocol: TCP
            - containerPort: 8880
              name: guest-http
              protocol: TCP
            - containerPort: 6789
              name: mobile-test
              protocol: TCP
            - containerPort: 3478
              name: stun
              protocol: UDP
            - containerPort: 10001
              name: discovery
              protocol: UDP
            - containerPort: 1900
              name: ddiscoveryl2
              protocol: UDP
            - containerPort: 5514
              name: syslog
              protocol: UDP
          volumeMounts:
            - mountPath: /unifi/data
              name: data
            - mountPath: /unifi/log
              name: logs
            - mountPath: /unifi/cert
              name: certs
          resources:
            limits:
              cpu: "1000m"
              memory: "1024Mi"
            requests:
              cpu: "300m"
              memory: "512Mi"
          readinessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 10
          livenessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 100
            periodSeconds: 20
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: unifi-storage
        - name: logs
          persistentVolumeClaim:
            claimName: unifi-logs
        - name: certs
          persistentVolumeClaim:
            claimName: unifi-certificates
