apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- kube-fledged.yaml
- reflector.yaml
- reloader.yaml
- snapshot.yaml
- sealed.yaml
- crossplane.yaml
# - descheduler.yaml
# - eraser.yaml
# - kured.yaml
# - wavy.yaml

namespace: argocd

commonLabels:
  app.kubernetes.io/category: utilities
