apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- cm.yaml
- deployment.yaml
- svc.yaml

commonAnnotations:
  reloader.stakater.com/auto: "true"

patches:
- patch: |-
    - op: add
      path: "/spec/template/spec/nodeSelector"
      value:
        kubernetes.io/arch: amd64
  target:
    kind: Deployment
    name: whats-bridge
