apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
bases:
- ./base

namespace: rss

patches:
- path: https://raw.githubusercontent.com/gruberdev/homelab/main/apps/networking/tailscale/patch.yaml
  target:
    kind: Deployment
    name: rss-hub
- patch: |-
    - op: replace
      path: "/spec/template/spec/containers/0/env/1"
      value:
        name: TS_HOSTNAME
        value: "hub.rss"
    - op: replace
      path: "/spec/template/spec/containers/0/env/2"
      value:
        name: DEST_PORT
        value: "1200"
  target:
    kind: Deployment
    name: rss-hub
