.autogit
.lh
id_ed25519
known_hosts
id_ed25519.pub
tilt_modules
manifests/*.yaml
config/tls/*.pem
*-secret.yaml
!/**/db.yaml
cluster-keys*
db.yaml
sealed.yaml
values.yaml
apps/argocd/overlay/*.json
j*.pem
.DS_Store
.history

# Crash log files
crash.log
debug.log

# Terraform files/Misc
terraform/override.tf
terraform/override.tf.json
*_override.tf
*_override.tf.json
terraform/.terraformrc
terraform/terraform.rc
terraform/**/.terraform.lock.hcl
terraform/**/*.terraform
terraform/**/*.out
terraform/**/.terraform
terraform/**/*.tfvars
terraform/**/secret.json
terraform/**/terraform.tfstate
terraform/**/*.tfstate.*
terraform/**/terraform.tfstate.backup

config/tls/base/tls-secret.yaml
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
terraform/.terraform.lock.hcl
terraform/terraform/*.terraform
terraform/*.out
terraform/.terraform
terraform/unifi/users.csv
.env
nohup.out
!terraform/secrets/.gitkeep

postgres/*
!postgres/.gitkeep
utilities/*
!utilities/.gitkeep
cluster-keys.json

# CertificatesThank
*.pem
config/tls/cert.pem
config/tls/key.pem
*.key

# Project-related folders
apps/prometheus/kube-prometheus/*
apps/kwatch/*
!apps/kwatch/.gitkeep
apps/argocd/base/secrets/*.yaml
test/storage/*
!test/storage/.gitkeep
terraform/vault/secrets/*
terraform/**/users.csv
!terraform/vault/secrets/test/example.json
terraform/**/secrets.json
!apps/services/media/ganymede/base/db.yaml
terraform/**/*.info

# k3s config files
config/k3s/*.yaml
!config/k3s/.gitkeep
