---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: qbittorrent
  labels:
    app: qbittorrent
  annotations:
    link.argocd.argoproj.io/external-link: https://downloads.gruber.dev.br
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: qbittorrent
  template:
    metadata:
      labels:
        app: qbittorrent
    spec:
      containers:
        - name: qbittorrent
          image: emmercm/qbittorrent:4.5.1
          envFrom:
            - configMapRef:
                name: qbittorrent-cm
          ports:
            - name: web
              containerPort: 8080
              protocol: TCP
            - name: traffic
              containerPort: 6881
              protocol: TCP
            - name: traffic-udp
              containerPort: 6881
              protocol: UDP
          startupProbe:
            httpGet:
              path: /
              port: web
            failureThreshold: 30
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: web
          readinessProbe:
            httpGet:
              path: /
              port: web
          resources:
            limits:
              cpu: 350m
              memory: 512Mi
            requests:
              cpu: 250m
              memory: 256Mi
          volumeMounts:
            - name: config
              mountPath: /config
            - name: cache
              mountPath: /data
            - name: downloads
              mountPath: /downloads
            - name: incomplete
              mountPath: /incomplete
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: qbittorrent-storage
        - name: cache
          persistentVolumeClaim:
            claimName: qbittorrent-data
        - name: downloads
          persistentVolumeClaim:
            claimName: downloads-storage
        - name: incomplete
          persistentVolumeClaim:
            claimName: incomplete-storage
