---
# Source: universal-crossplane/templates/crossplane/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: crossplane
spec:
  replicas: 1
  selector:
    matchLabels:
      app: crossplane
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: crossplane
        app.kubernetes.io/component: cloud-infrastructure-controller
        app.kubernetes.io/name: crossplane
    spec:
      serviceAccountName: crossplane
      initContainers:
        - image: upbound/crossplane:v1.10.1-up.1
          args:
          - core
          - init
          imagePullPolicy: IfNotPresent
          name: universal-crossplane-init
          resources:
            limits:
              cpu: 150m
              memory: 300m
            requests:
              cpu: 50m
              memory: 128Mi
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsGroup: 65532
            runAsUser: 65532
          env:
          - name: POD_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: POD_SERVICE_ACCOUNT
            valueFrom:
              fieldRef:
                fieldPath: spec.serviceAccountName
      containers:
      - image: upbound/crossplane:v1.10.1-up.1
        args:
        - core
        - start
        imagePullPolicy: IfNotPresent
        name: universal-crossplane
        resources:
          limits:
            cpu: 150m
            memory: 300Mi
          requests:
            cpu: 50m
            memory: 128Mi
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          runAsGroup: 65532
          runAsUser: 65532
        env:
          - name: POD_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: LEADER_ELECTION
            value: "true"
        volumeMounts:
          - mountPath: /cache
            name: package-cache
      volumes:
      - name: package-cache
        emptyDir:
          medium:
          sizeLimit: 5Mi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: crossplane-rbac-manager
  labels:
    app: crossplane-rbac-manager
    app.kubernetes.io/component: cloud-infrastructure-controller
spec:
  replicas: 1
  selector:
    matchLabels:
      app: crossplane-rbac-manager
      release: uxp
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: crossplane-rbac-manager
        release: uxp
    spec:
      securityContext:
        {}
      serviceAccountName: rbac-manager
      initContainers:
      - image: upbound/crossplane:v1.10.1-up.1
        args:
        - rbac
        - init
        imagePullPolicy: IfNotPresent
        name: universal-crossplane-init
        resources:
          limits:
            cpu: 150m
            memory: 300Mi
          requests:
            cpu: 50m
            memory: 150m
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          runAsGroup: 65532
          runAsUser: 65532
      containers:
      - image: upbound/crossplane:v1.10.1-up.1
        args:
        - rbac
        - start
        - --manage=Basic
        - --provider-clusterrole=crossplane:allowed-provider-permissions
        imagePullPolicy: IfNotPresent
        name: universal-crossplane
        resources:
          limits:
            cpu: 150m
            memory: 300Mi
          requests:
            cpu: 50m
            memory: 128Mi
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          runAsGroup: 65532
          runAsUser: 65532
        env:
          - name: LEADER_ELECTION
            value: "true"
