version: '3'
vars:
  CYAN: tput setaf 6
  RED: tput setaf 1
  YELLOW: tput setaf 3
  GREEN: tput setaf 2
  BLUE: tput setaf 1
  PURPLE: tput setaf 5
  BG_B: tput setab 0
  BOLD: tput bold
  RESET: tput sgr0
  CLEAR: tput reset
  TESTING_NAMESPACE: default

silent: true

tasks:
  clear:
    cmds:
      - sleep 0.1 && {{.CLEAR}}
  highlight_bg:
    cmds:
      - |
        sleep 0.1 && \
        {{.CYAN}} && \
        {{.BOLD}} && \
        {{.BG_B}}
  highlight_normal:
    cmds:
      - |
        sleep 0.1 && \
        {{.CYAN}} && \
        {{.BOLD}}
  reset:
    cmds:
      - |
        sleep 0.1 && \
        {{.RESET}}

  nvidia:
    preconditions:
      - sh: 'which kubectl'
        msg: 'kubectl {{.PATH_ERROR}}'
    cmds:
      - |
        cat <<EOF | kubectl create -f -
        apiVersion: v1
        kind: Pod
        metadata:
          name: gpu
          namespace: {{.TESTING_NAMESPACE}}
        spec:
          restartPolicy: Never
          containers:
            - name: gpu
              image: "nvidia/cuda:12.2.0-base-ubuntu20.04"
              command: [ "/bin/bash", "-c", "--" ]
              args: [ "while true; do sleep 30; done;" ]
              resources:
                limits:
                  nvidia.com/gpu: 1
        EOF
      - kubectl exec -n {{.TESTING_NAMESPACE}} -it gpu -- nvidia-smi
    ignore_error: true
