---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: lidarr
  labels:
    app: lidarr
  annotations:
    link.argocd.argoproj.io/external-link: http://media.lidarr
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: lidarr
  template:
    metadata:
      labels:
        app: lidarr
    spec:
      containers:
        - name: lidarr
          image: lscr.io/linuxserver/lidarr:latest
          envFrom:
            - configMapRef:
                name: lidarr-cm
          ports:
            - name: web
              containerPort: 8686
              protocol: TCP
          resources:
            limits:
              cpu: 300m
              memory: 512Mi
            requests:
              cpu: 150m
              memory: 256Mi
          volumeMounts:
            - name: config
              mountPath: /config
            - name: library
              mountPath: /music
            - name: downloads
              mountPath: /downloads
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: lidarr-storage
        - name: library
          persistentVolumeClaim:
            claimName: music-storage
        - name: downloads
          persistentVolumeClaim:
            claimName: music-downloads
