apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
bases:
- ./base

namespace: services

commonAnnotations:
  reloader.stakater.com/auto: "true"

patches:
- patch: |-
    - op: add
      path: "/spec/template/spec/nodeSelector"
      value:
        kubernetes.io/arch: amd64
  target:
    kind: Deployment
    name: chatgpt
