---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: unifi-poller
  labels:
    app: unifi-poller
  annotations:
    link.argocd.argoproj.io/external-link: http://unifi-poller
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: unifi-poller
  template:
    metadata:
      labels:
        app: unifi-poller
        type: poller
      annotations:
        prometheus.io/path: /metrics
        prometheus.io/port: "9130"
        prometheus.io/scrape: "true"
    spec:
      containers:
        - name: unifi-poller
          image: golift/unifi-poller:2.1
          imagePullPolicy: IfNotPresent
          envFrom:
            - configMapRef:
                name: unifi-poller-cm
            - secretRef:
                name: unifi-poller-vars
          ports:
          - name: metrics
            containerPort: 9130
            protocol: TCP
          - name: web
            containerPort: 37288
          volumeMounts:
          - name: poller-data
            mountPath: /config
          resources:
            limits:
              cpu: "500m"
              memory: "512Mi"
            requests:
              cpu: "250m"
              memory: "256Mi"
          readinessProbe:
            httpGet:
              path: /metrics
              port: metrics
            periodSeconds: 20
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /metrics
              port: metrics
            initialDelaySeconds: 120
            periodSeconds: 10
            failureThreshold: 5
      volumes:
        - name: poller-data
          persistentVolumeClaim:
            claimName: unifi-poller-storage
