apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
bases:
- ./base
namespace: homeassistant
patches:
- patch: |-
    - op: add
      path: "/spec/template/spec/nodeSelector"
      value:
        kubernetes.io/hostname: node-one
  target:
    kind: Deployment
    name: wyze-bridge
commonAnnotations:
  reloader.stakater.com/auto: "true"
images:
- name: mrlt8/wyze-bridge
  newTag: 2.3.6
