apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- base/projects/core.yaml
- base/projects/cluster.yaml
- base/projects/monitoring.yaml
- base/projects/networking.yaml
- base/projects/apps.yaml

- base/core/argocd.yaml
- base/core/zalando.yaml

- base/apps/vault.yaml
- base/apps/ha.yaml

- base/drone/drone-db.yaml
- base/drone/drone-server.yaml
- base/drone/drone-runner.yaml

- base/utilities/metrics.yaml
- base/utilities/reloader.yaml
- base/utilities/reflector.yaml
- base/utilities/kube-clean.yaml
- base/utilities/descheduler.yaml
- base/utilities/kubenurse.yaml

- https://raw.githubusercontent.com/argoproj/argo-cd/master/manifests/install.yaml

components:
- https://github.com/argoproj-labs/argocd-extensions/manifests

patchesStrategicMerge:
- overlay/argocd-svc.yaml
- overlay/argocd-deployment.yaml
- overlay/argocd-cm.yaml

patchesJson6902:
- path: overlay/deploy-command.yaml
  target:
    group: apps
    kind: Deployment
    name: argocd-server
    version: v1

namespace: argocd
images:
- name: quay.io/argoproj/argocd
  newName: ghcr.io/argoproj/argocd
  newTag: 2.4.0-dfeacd3e

commonAnnotations:
  reloader.stakater.com/auto: "true"
