apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- base/projects/core.yaml
- base/projects/cluster.yaml
- base/projects/monitoring.yaml
- base/projects/networking.yaml
- base/projects/apps.yaml
- base/projects/matrix.yaml

- base/core/argocd.yaml
- base/core/zalando.yaml
- base/core/redis.yaml
# - base/core/router.yaml

- base/utilities/reloader.yaml
- base/utilities/reflector.yaml
- base/utilities/descheduler.yaml
- base/utilities/kured.yaml
- base/utilities/botkube.yaml
- base/utilities/node-discovery.yaml

- base/apps/vault.yaml
- base/apps/ha.yaml
# - base/apps/wyze.yaml
- base/apps/unifi.yaml
# - base/apps/adguard.yaml

- base/monitoring/kuma.yaml
# - base/monitoring/flame.yaml
# - base/monitoring/unifi-poller.yaml
# - base/monitoring/kube-prometheus.yaml

- base/drone/drone-server.yaml
- base/drone/drone-runner.yaml

# - base/services/n8n.yaml
# - base/services/wakapi.yaml
# - base/services/rss.yaml
# - base/services/metabase.yaml

# - base/services/media/beets.yaml
# - base/services/media/lidarr.yaml
# - base/services/media/mango.yaml

- https://github.com/gruberdev/homelab/apps/networking/tailscale
- https://github.com/gruberdev/homelab/apps/networking/cloudflared

- https://raw.githubusercontent.com/argoproj/argo-cd/v2.4.11/manifests/install.yaml
- https://github.com/argoproj-labs/argocd-image-updater/manifests/base

patchesStrategicMerge:
- overlay/argocd-svc.yaml
- overlay/argocd-deployment.yaml
- overlay/argocd-cm.yaml
- overlay/cloudflared-cm.yaml
- overlay/argocd-rbac.yaml
- overlay/tailscale-rb.yaml

namespace: argocd
images:
- name: quay.io/argoproj/argocd
  newTag: v2.4.11

patches:
- path: https://raw.githubusercontent.com/gruberdev/homelab/main/apps/networking/tailscale/patch.yaml
  target:
    kind: Deployment
    name: argocd-server
- patch: |-
    - op: replace
      path: "/spec/template/spec/containers/0/env/1"
      value:
        name: TS_HOSTNAME
        value: "argocd"
    - op: replace
      path: "/spec/template/spec/containers/0/env/2"
      value:
        name: DEST_PORT
        value: "8080"
    - op: add
      path: "/spec/strategy"
      value:
        type: "Recreate"
    - op: replace
      path: "/spec/template/spec/serviceAccountName"
      value: "argocd-server"
  target:
    kind: Deployment
    name: argocd-server
- patch: |-
    - op: replace
      path: "/spec/template/spec/volumes/0/secret/secretName"
      value: "argo-tunnel"
  target:
    kind: Deployment
    name: cloudflared
- patch: |-
    - op: add
      path: "/spec/template/spec/containers/1/command/-"
      value: "--insecure"
  target:
    kind: Deployment
    name: argocd-server

commonAnnotations:
  reloader.stakater.com/auto: "true"
